aiohttp>=3.8.0
aiofiles>=0.8.0
curl_cffi~=0.7.3
better-proxy==1.2.0
capmonster_python==3.2.0
anticaptchaofficial
2captcha-python
Pillow~=11.0.0
pytesseract>=0.3.8
PyJWT~=2.9.0
loguru~=0.7.2
rich>=12.0.0
termcolor~=2.5.0
art~=6.3
flet~=0.24.1
customtkinter~=5.2.2
SQLAlchemy>=1.4.0
aiosqlite>=0.17.0
python-dotenv>=0.19.0
pydantic>=1.9.0
tenacity~=9.0.0
prompt_toolkit>=3.0.0
Faker~=30.6.0
random-username~=1.0.2
pyuseragents~=1.0.5
asyncio>=3.4.3
pathlib>=1.0.1
PyYAML>=6.0
tqdm>=4.64.0
